*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'NanumSquareRound';
    font-size: 14px;
    color: #000;
    min-width: 1600px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}

/* 탑버튼 */
.top_b{
    position:fixed; 
    bottom:50px; 
    right:50px; 
    display:none;
}

/* 상단메뉴 */
.top{
    width: 1320px;
    margin: 10px auto;
}
.top ul{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: end;
}
.top ul li{
    margin-left: 20px;
    font-weight: 500;
}
.top ul li a{
    font-size: 15px;
}
.top ul li img{
    vertical-align: top;
}

/* 헤더 */
header{
    width: 1320px;
    margin: 40px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: block;
}
.header_in, .nav{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.header_in{
    align-items: center;
}
.nav> li> a{
    display: block;
    margin: 20px 60px;
    font-size: 20px;
    font-weight: 700;
}
.nav> li:hover> a{
    color: #F47721;
}


/* 서브메뉴 */
.sub{
    position: absolute;
    width: 160px;
    /* 글 가운데 맞추기 */
    left: 50%;
    transform: translateX(-50%);
    padding: 17px 0 15px;
    background-color: #00AEEF;
    border-radius: 25px;
    display: none;
    z-index: 99;
}
.nav> li{
    position: relative;
}

/* 서브메뉴 꾸미기 */
.sub li a{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-bottom: 2px solid #00AEEF;
    
}
.sub li{
    text-align: center;
    padding: 6px 0;
}
.sub li a:hover{
    border-bottom: 2px solid #fff;
}

/* 언어메뉴 */
.lan> li> a{
    border: #000 2px solid;
    border-radius: 13px;
    padding: 6px 6px 5px;
    font-weight: 700;
    margin: 0;
    font-size: 16px;
}
.lan> li> a> img{
    vertical-align: middle;
}

/* 언어 서브메뉴 */
.lan_sub{
    position: absolute;
    z-index: 5;
    width: 100%;
    display: none;
    background-color: #000;
    border-radius: 13px;
    margin-top: 4px;
    padding: 8px 0;
}
.lan{
    position: relative;
    margin: 0 30px;
}

/* 언어 서브메뉴 꾸미기 */
.lan_sub li{
    text-align: center;
    padding: 3px 0;
}
.lan_sub li:nth-child(1) a{
    opacity: 1;
}
.lan_sub li a{
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    opacity: 0.6;
}
.lan_sub li a:hover{
    opacity: 1;
}

/* 메인배너 */
.banner{
    width: 100%;
    height: 728px;
    background: url(../image/sub3-1/bg.png) center top;
}
.banner_in{
    width: 1320px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 80px 50px 0;
}
.banner_in img{
    animation: top 2s linear infinite alternate;
}
@keyframes top{
    0%{transform: translateY(0);}
    100%{transform: translateY(-20px);}
}
.text h2{
    font-size: 35px;
    color: #FFD60D;
    margin-bottom: 10px;
}
.text h1{
    font-size: 48px;
    line-height: 80px;
    color: #fff;
}
.text h1 span{
    font-size: 60px;
}

/* 서브메뉴2 */
#menu{
    padding: 100px 0;
}
#menu ul{
    background-color: #e4e4e4;
    border-radius: 80px;
    width: 765px;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
}
#menu li:nth-child(1) a{
    color: #474747;
    width: 255px;
    padding: 15px 0;
    border-radius: 80px;
    display: block;
    background-color: #e4e4e4;
    text-align: center;
}
#menu li:nth-child(2) a{
    color: #474747;
    width: 255px;
    padding: 15px 0;
    border-radius: 80px;
    display: block;
    background-color: #e4e4e4;
    text-align: center;
}
#menu li:nth-child(3) a{
    color: #fff;
    width: 255px;
    padding: 15px 0;
    border-radius: 80px;
    display: block;
    background-color: #F47721;
    text-align: center;
}

/* 카테고리 */
.category1{
    width: 1320px;
    margin: 0 auto 100px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.category1 li a{
    border: 2px solid #474747;
    background-color: #fff;
    margin-right: 20px;
    font-weight: 500;
    color: #474747;
    border-radius: 80px;
    padding: 9px 20px;
    display: block;
    font-size: 17px;
}
.category1 li:nth-child(1) a{
    border: 2px solid #F47721;
}
.category1 li a:hover{
    background-color: #F47721;
    border: 2px solid #F47721;
    color: #fff;
}
.category1 .check{
    background-color: #F47721;
    color: #fff;
}

/* content1 */
.content1{
    width: 1320px;
    margin: 0 auto 150px;
    text-align: start;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.content1 h1{
    font-size: 40px;
    width: 100%;
    margin-bottom: 20px;
}
.content1 h2{
    width: 100%;
    margin-bottom: 15px;
    line-height: 30px;
}
.content1 h3{
    color: #a0a0a0;
    font-weight: 500;
}
.box1{
    box-sizing: border-box;
    padding: 50px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    width: 300px;
    height: 300px;
    text-align: center;
}
.content1 p{
    font-size: 20px;
    margin-top: 30px;
    font-weight: 800;
    color: #474747;
}
.content1 img{
    position: absolute;
    top: 0;
    right: 0px;
    animation: top 0.6s linear infinite alternate;
}
@keyframes top {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

/* content2 */
.content2{
    width: 1320px;
    margin: auto;
}
.content2 h3{
    font-size: 30px;
    margin-bottom: 20px;
}
.content2 span{
    color: #F47721;
}
table{
    border: 1px solid #e4e4e4;
    width: 1320px;
    text-align: center;
    border-collapse: collapse;
    color: #474747;
}
table th{
    color: #474747;
    background-color: #e4e4e4;
    padding: 25px;
    font-size: 18px;
    font-weight: 500;
}
table td{
    border: 1px solid #e4e4e4;
    width: calc(1320px / 4);
    padding: 25px;
    font-size: 18px;
}
.content2 p{
    margin: 30px 0 200px;
    font-size: 17px;
    line-height: 30px;
    color: #6E6E6E;
    font-weight: 400;
}

/* footer */
footer{
    background-color: #6E6E6E;
}
.box3{
    width: 1320px;
    margin: auto;
    padding: 100px 0 80px;
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
}
.box3 .list1{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
}
.list1 a{
    margin-right: 40px;
    color: #fff;
}
.list1 a:hover{
    color: #F47721;
}
.box3 h5{
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 50px;
}
.box3 p{
    line-height: 22px;
}
.left p:nth-child(4){
    padding-top: 25px;
}
.box3 .right{
    text-align: end;
}
.box3 .list2{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
}
.list2 a{
    margin-left: 10px;
    opacity: 0.3;
}
.list2 a:hover{
    opacity: 1;
}