@font-face {
    font-family: 'NanumSquareRound';
    font-weight: 200;
    src: url(../font/NanumSquareRoundOTFL.otf) format(opentype),
}
@font-face {
    font-family: 'NanumSquareRound';
    font-weight: 400;
    src: url(../font/NanumSquareRoundOTFR.otf) format(opentype),
}
@font-face {
    font-family: 'NanumSquareRound';
    font-weight: 600;
    src: url(../font/NanumSquareRoundOTFB.otf) format(opentype),
}
@font-face {
    font-family: 'NanumSquareRound';
    font-weight: 800;
    src: url(../font/NanumSquareRoundOTFEB.otf) format(opentype),
}
@font-face {
    font-family: 'Jalnan';
    src: url(../font/JalnanOTF.otf) format(opentype);
    font-weight: normal;
}