* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'NanumSquareRound';
    font-size: 14px;
    color: #000;
    min-width: 1600px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}

/* 탑버튼 */
.top_b {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    z-index: 4;
}

/* header */
/* top menu */
.top {
    width: 1320px;
    margin: 10px auto;
}
.top ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: end;
}
.top ul li {
    margin-left: 20px;
    font-weight: 600;
}
.top ul li a{
    font-size: 15px;
}
.top ul li img {
    vertical-align: top;
}

/* gnb */
header {
    width: 1320px;
    margin: 40px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.header_in,
.nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.header_in {
    align-items: center;
}
.nav>li>a {
    display: block;
    margin: 20px 60px;
    font-size: 20px;
    font-weight: 800;
}
.nav>li:hover>a {
    color: #F47721;
}

/* 서브메뉴 */
.sub {
    position: absolute;
    width: 160px;
    left: 50%;
    transform: translateX(-50%);
    padding: 17px 0 15px;
    background-color: #00AEEF;
    border-radius: 25px;
    display: none;
    z-index: 99;
}
.nav>li {
    position: relative;
}

/* 서브메뉴 꾸미기 */
.sub li a {
    display: inline-block;
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    border-bottom: 2px solid #00AEEF;
}
.sub li {
    text-align: center;
    padding: 6px 0;
}
.sub li a:hover {
    border-bottom: 2px solid #fff;
}

/* lan */
.lan> li> a{
    border: #000 2px solid;
    border-radius: 13px;
    padding: 6px 6px 5px;
    font-weight: 800;
    margin: 0;
    font-size: 16px;
}
.lan> li> a> img{
    vertical-align: middle;
}

/* lan 서브메뉴 */
.lan_sub{
    position: absolute;
    z-index: 5;
    width: 100%;
    display: none;
    background-color: #000;
    border-radius: 13px;
    margin-top: 4px;
    padding: 8px 0;
}
.lan{
    position: relative;
}

/* lan 서브메뉴 꾸미기 */
.lan_sub li{
    text-align: center;
    padding: 3px 0;
}
.lan_sub li:nth-child(1) a{
    opacity: 1;
}
.lan_sub li a{
    color: #fff;
    font-weight: 800;
    font-size: 16px;
    opacity: 0.6;
}
.lan_sub li a:hover{
    opacity: 1;
}

/* main banner */
.main {
    width: 100%;
    height: 728px;
    background-color: #78ceff;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.main_in {
    width: 1320px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main_in2 {
    flex-direction: column;
    color: #fff;
    position: relative;
}
.main_in2 h2 {
    font-size: 55px;
    line-height: 90px;
}
.main_in2 h1 {
    font-size: 90px;
    padding-top: 10px;
    font-family: 'yg-jalnan';
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    letter-spacing: 5px;
}
.main_in2 img {
    position: absolute;
}
.main_in2 .c1 {
    top: 87px;
    right: 243px;
}
.main_in2 .c2 {
    top: 87px;
    right: 195px;
}
.main_in2 .c3 {
    top: 87px;
    right: 145px;
}

/* page menu */
#menu {
    padding: 100px 0;
}
#menu ul {
    background-color: #d4d4d4;
    border-radius: 80px;
    width: 760px;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
}
#menu li:nth-child(1) a {
    color: #fff;
    width: 380px;
    padding: 15px 0;
    border-radius: 80px;
    display: block;
    background-color: #F47721;
    text-align: center;
}
#menu li:nth-child(2) a {
    color: #fff;
    width: 380px;
    padding: 15px 0;
    border-radius: 80px;
    display: block;
    background-color: #d4d4d4;
    text-align: center;
}

/* content1 */
.content1 {
    width: 1320px;
    margin: 0 auto 150px;
    text-align: center;
}
.content1 h1 {
    font-size: 40px;
    text-align: start;
    margin-bottom: 70px;
}
.content1 span {
    color: #F47721;
}
.content1 img {
    margin-bottom: 50px;
}
.content1 p {
    font-size: 15px;
    color: #474747;
    line-height: 27px;
    font-weight: 400;
}

/* content2 */
.content2 {
    width: 1320px;
    margin: 0 auto 150px;
    text-align: center;
}
.content2 h1 {
    font-size: 40px;
    text-align: start;
    margin-bottom: 30px;
}
.content2 h2 {
    text-align: start;
    color: #F47721;
    margin-bottom: 40px;
    font-size: 30px;
}
.content2 span {
    color: #F47721;
}
.box1 {
    width: 1320px;
    height: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    box-sizing: border-box;
}
.content2>a {
    font-size: 16px;
    background-color: #F47721;
    color: #fff;
    padding: 10px 25px;
    border-radius: 80px;
    display: inline-block;
    margin: 30px 0 50px 0;
    font-weight: 600;
}
.color {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-bottom: 60px;
}
.color1 {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border: #F47721 2px solid;
}
.color2 {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background: #F47721;
    position: absolute;
    left: 200px;
}
.color3 {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background: #00AEEF;
    position: absolute;
    right: 400px;
    z-index: 3;
}
.color4 {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background: #d4d4d4;
    position: absolute;
    right: 200px;
    z-index: 2;
}
.color5 {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border: #d4d4d4 2px solid;
    background: #fff;
    position: absolute;
    right: 0px;
}

.text {
    width: 1320px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 430px 0 230px;
}
.text p{
    line-height: 25px;
}
.text .left {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.text .left h3 {
    padding-right: 30px;
    font-size: 23px;
}
.text .left p {
    font-size: 18px;
    text-align: start;
}
.text .right div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 30px;
}
.text .right div h3 {
    padding-right: 30px;
    font-size: 23px;
}
.text .right div p {
    font-size: 18px;
    text-align: start;
}

/* banner */
.banner {
    width: 100%;
    height: 624px;
    background: url(../image/sub1-1/banner.png) no-repeat center top;
    margin-bottom: 150px;
}

/* content3 */
.content3 {
    width: 1320px;
    margin: 0 auto 150px;
    text-align: center;
}
.content3 h1 {
    font-size: 40px;
    text-align: start;
    margin-bottom: 130px;
}
.content3 span {
    color: #F47721;
}
.box2 {
    background: url(../image/sub1-1/circle2.png) no-repeat center center;
    position: relative;
    line-height: 40px;
    box-sizing: border-box;
    height: 700px;
}
.box2 h5 {
    font-weight: 600;
}
.box2 .bg1 {
    background-color: #FF893B;
    width: 300px;
    height: 300px;
    border-radius: 200px;
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    padding-top: 100px;
}
.box2 .bg1:hover~.light {
    animation: topp 0.6s linear infinite alternate;
}
.box2 .bg2:hover~.object {
    animation: top 0.6s linear infinite alternate;
}
.box2 .bg3:hover~.check {
    animation: top 0.6s linear infinite alternate;
}
@keyframes topp {
    0% {
        transform: translate(-50%, 0);
    }

    100% {
        transform: translate(-50%, -20px);
    }
}
@keyframes top {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}
.box2 .bg2 {
    background-color: #00bbff;
    width: 300px;
    height: 300px;
    border-radius: 200px;
    color: #fff;
    font-size: 30px;
    position: absolute;
    bottom: 10%;
    left: 20%;
    box-sizing: border-box;
    padding-top: 100px;
}
.box2 .bg3 {
    background-color: #d4d4d4;
    width: 300px;
    height: 300px;
    border-radius: 200px;
    color: #fff;
    font-size: 30px;
    position: absolute;
    bottom: 10%;
    right: 20%;
    box-sizing: border-box;
    padding-top: 100px;
}
.box2 .light {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.box2 .object {
    position: absolute;
    bottom: 280px;
    left: 25%;
    z-index: 2;
}
.box2 .check {
    position: absolute;
    bottom: 280px;
    right: 25%;
    z-index: 2;
}
.text2 {
    margin: auto;
    width: 800px;
    padding: 50px 0;
    font-size: 18px;
    color: #474747;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 200px;
    line-height: 30px;
    font-weight: 400;
}

/* footer banner */
.banner2 {
    width: 100%;
    height: 214px;
    background: url(../image/sub1-1/bg.png) center;
    position: relative;
}

/* footer */
footer {
    position: relative;
    background-color: #6E6E6E;
    z-index: 3;
}
.box3 {
    width: 1320px;
    margin: auto;
    padding: 100px 0 80px;
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}
.box3 .list1 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
}
.list1 a {
    margin-right: 40px;
    color: #fff;
}
.list1 a:hover {
    color: #F47721;
}
.box3 h5 {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 50px;
}
.box3 p{
    line-height: 22px;
}
.left p:nth-child(4) {
    padding-top: 25px;
}
.box3 .right {
    text-align: end;
}
.box3 .list2 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
}
.list2 a {
    margin-left: 10px;
    opacity: 0.3;
}
.list2 a:hover {
    opacity: 1;
}